.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.calculator {
  width: min(20rem, 100%);
  padding: 5px;
  background-color: var(--colour-panel-background);
  border: 2px solid red;
  /*border: 2px solid var(--colour-panel-border);*/
}

p {
  margin: 1rem 0 0;
  text-align: center;
  padding: 0;
}

a {
  margin-top: 0.25rem;
  text-decoration: none;
  text-align: center;
  color: var(--colour-button-blue);
}

h2 {
  color: white;
  margin: 0;
}
